
 <html lang="tr-TR">
<head>
     <meta charset="UTF-8">
	<meta name="description" content="El İşi Sitem">
  <meta name="keywords" content="el işi, oya, şapka ">
  <meta name="author" content="Fatmanur Yıldız">

     </head>
     <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-2">EL İŞİM</h1>
                <p class="lead">Biricik gelininizin göz bebeği tığ işlerinden, kışın hem içinizi hem dışınızı ısıtacak yumuşacık yeleklere; sevdiğinizin yokluğunu hissettirmeyecek atkılardan, bebeğinizin ilk adımlarını kıymetli kılan patiklere. Her şey bu sitede!</p>
            </div>
        </div>
    </body>
</html>