@* list.cshtml içinde count'a bakmıştım ürün var mı diye. yoksa buna göndermiştim. 12 boyutta olsun tamamı dedim *@
@* Sayfanın birkaç yerinde bulunabilecek olan partialview yapısını oluşturdum. Ürün bulunmazsa kırmızı kutuda bu yapı yazılacak. *@
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            Ürün bulunmamaktadır
        </div>
    </div>
</div>